.wrapper {
	max-width: 1300px;
	margin: 0 auto;
}
.list {
list-style-type: none;
display: flex;
flex-wrap: wrap;
align-self: flex-start;

}
.more {
	margin: 0 auto;
	display: block;
}
.item {
	display: block;
	margin: 2.5%;
	align-self: flex-start;
}