.container {
	background: #F5EBDB;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	padding: 25px 50px;
	margin: 20px 0;
	font-family: 'Roboto';
	font-style: normal;
	color: black;
}
.label {
	font-weight: 700;
	font-size: 28px;
	line-height: 33px;
}
p {
	font-weight: 400;
	font-size: 24px;
	line-height: 28p
}
.input {
	width: 100%;
	border: none;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	background-color: #F5EBDB;
	outline: none;
	border-bottom: 1px solid #C08767;
	margin-top: 30px;
}

.input:focus {
	border-bottom: 4px solid #C08767;
  }